Revision history of the Treex-Doc distribution:

VERSION       DATE

    - the first release at CPAN - FAQ and Tutorial

For detailed log of changes see https://svn.ms.mff.cuni.cz/projects/tectomt_devel/timeline (Use 'public' username and same password)
